<!doctype html>
</html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='yts.css') }}">
<script src="{{ url_for('static', filename='yts.js') }}"></script>
</head>
<body>
<div id="content"></div>
<div id="search">
    <input type="search" id="search_input">
    <button onclick="movieSearch()">Search</button>
</div>
<div id="navigation">
    <button id="prev" onclick="prevPage()">Prev</button>
    <span id="page_counter"></span>
    <button id="next" onclick="nextPage()">Next</button>
</div>
<script>
init();
</script>
</body>
</html>
