<!doctype html>
</html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='yts.css') }}">
<script src="{{ url_for('static', filename='yts.js') }}"></script>
</head>
<body>
<h2>{{ movie_title }}</h2>
<div>
<img src="{{ movie_thumbnail }}">
</div>
<div id="download">
{% for (torrent_id, description) in download %}
    <span class="button" onclick="download('{{ torrent_id }}')">{{ description }}</span>
{% endfor %}
<div>

<h3>{{ movie_year }} - {{ movie_genre}}</h3>
<p>{{ movie_synopsis }}</p>
</body>
</html>
